{% extends 'base.html.twig' %}

{% block title %}Mise à jour Matériaux{% endblock %}

{% block body %}
    <h1 class="h1 gris">Mise à jour Matériaux</h1>

    {{ include('materiaux/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="botnform botnhov" href="{{ path('materiaux_index') }}">Retour à la liste</a>

    {{ include('materiaux/_delete_form.html.twig') }}
    {{ include('materiaux/_delete_image.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="https://kit.fontawesome.com/cedb8ea0d9.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/images.js') }}"></script>
    
{% endblock %}
