{% extends 'base.html.twig' %}

{% block title %}Gestion des materiaux à donner{% endblock %}

{% block body %}
<section id="admin">
    <h1>Gestion des materiaux à donner</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Quantite</th>
                <th>Description</th>
            
            </tr>
        </thead>
        <tbody>
        {% for materiaux in materiauxes %}
            <tr>
                
                <td>{{ materiaux.nom }} </br>
                <a href="/materiaux/{{materiaux.materiauxid}}/edit">Modifier</a>
                <a href="/materiaux/{{materiaux.materiauxid}}">Voir</a>
                </td>
                <td>{{ materiaux.quantite }}</td>
                <td>{{ materiaux.description }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun matériaux à donné pour l'instant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('materiaux_new') }}">Créé nouveau matériaux à donner</a>
    </section>
{% endblock %}
