{% extends 'base.html.twig' %}

{% block title %}Materiaux{% endblock %}

{% block body %}
<div class="height"> 
    <h1 class="h1prduit gris">Nos Matériaux à donner</h1>
   
    <h2 class="h2 gris">Si un de nos matériaux vous intéresse, veuiller me contacter par courriel ou téléphone pour déterminer un rendez vous .</h2>
        <section class="produitAffiche">

            
        <div class="containerProduit"> 
            
            {% for materiaux in materiauxes %}
                <div class="produitIndividuel">
                <a class="lien" href="/materiaux/{{materiaux.materiauxid}}" >
                <p class="nomProduit">{{ materiaux.nom }}</p></a>
                {% for image in materiaux.image|slice(0, 1) %}
                 
                    <a href="/materiaux/{{materiaux.materiauxid}}" ><img src="{{ asset('images/images_produit/'~image.nom) }}" title="cliqué pour plus d'info" alt= "no" width="50%" ></a>

                
                    {% else %}
                        <p>Pas d'image</p>
                
                {% endfor %}  
                    
                        
                        
                        
                        <p>Quantité restante: {{ materiaux.quantite }}</p>
                        
                 </div>        
                {% else %}
               
                        <p colspan="8">Aucun produit à afficher </p>
                {% endfor %}        
            
        </div>
        </section>
</div>          

    
{% endblock %}
