{% extends 'base.html.twig' %}

{% block title %}Materiaux{% endblock %}


{% block body %}

    <div class="flex gris">    

        <div id="galerie">

            <dl id="photo">
                <dd><img id="big_pict"  alt="Photo en taille normale"  /></dd>
            </dl>

            <ul id="galerie_mini">

                {% for image in materiaux.image %}
                    <li>
                    <img class="mini_pict" src="{{ asset('images/images_produit/'~image.nom) }}"   alt="Image petite" />
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="product_{{materiaux.materiauxid}}" class="heigth2">
            <div class="text">
                <h1 id="product_title">{{ materiaux.nom }}</h1>
                <p id="product_descript">{{ materiaux.description }}</p>
                <p id="quantite">Quantité restante: {{ materiaux.quantite }}</p>
            </div>
            
            

                <a  id="return" href="javascript:history.back()">Retour à l'arrière</a>
            </div>
        </div>

    </div>

{% endblock %}