{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}



{% block body %}

<section class=" height pagelogin grille">

<form   method="post" id="loginform" class="grille " >

    
    <div id="infologin" class="grille gris"> 
         {% if error %}
                 <div id="alert" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

         {% if app.user %}
             <div id="connecter" class="mb-3 " id="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a class="fa-solid fa-user-xmark"  href="{{ path('app_logout') }}">Logout</a>
             </div>
         {% endif %}

    <h1 class="h3 mb-3 font-weight-normal" id="h1connexion" >Veuiller vous identifié. </h1>
    <label for="inputUsername" id="lbluserconnexion" class="fa-solid fa-user">   Nom D'utilisateur</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control " autocomplete="username" required autofocus>
    <label for="inputPassword" id="lblpasswordconnexion" class="fa-solid fa-lock">  Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control " autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" id="token"
           value="{{ csrf_token('authenticate') }}">

     
    <button class="botnform botnhov" type="submit" id="btnconnexion" onclick="hide()">
        Connexion
    </button>
    </div>
</form>

</section>

{% endblock %}
