{% extends 'base.html.twig' %}

{% block title %}Nos néalisations {% endblock %}

{% block body %}
<section id="admin">
    <h1>Gestion des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                
                <td>{{ projet.Id }}</td>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.description }}</td>
                
                <td>
                    <a href="{{ path('projet_show', {'id': projet.Id}) }}">Voir</a>
                    <a href="{{ path('projet_edit', {'id': projet.Id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun projet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projet_new') }}">Nouveau projet</a>
</section>
{% endblock %}
